body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url("japan-artistic-5120x2880-25406%20(1).jpg") no-repeat center center;
    color: white;
}

/* HERO SECTION */
.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;   /* center vertically */
    align-items: center;       /* center horizontally */
    text-align: center;
}

/* GLASS BOX */
.hero-box {
    background: rgba(255, 255, 255, 0.1);  /* transparent */
    backdrop-filter: blur(12px);           /* glass effect */
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

/* TEXT */
.hero h1 {
    font-size: 50px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 20px;
    margin-bottom: 25px;
}

/* BUTTONS */
.buttons a {
    text-decoration: none;
    background: rgba(255,255,255,0.2);
    color: red;
    padding: 12px 20px;
    margin: 10px;
    border-radius: 8px;
    transition: 0.3s;
}

.buttons a:hover {
    background: rgba(255,255,255,0.4);
}
